body{
	background-image: url("https://img00.deviantart.net/5a2e/i/2012/326/d/6/cv_background___1_by_comidion-d5lsb1h.jpg");
	background-size: 1285px 890px;
	}
	
p{
	text-indent: 50px;
	text-align: justify;

 }
 
 